<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Multi-step-form</title>
	<link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	
	<section class="cover">
		<header>
		
			<ul>

				<li><i class='bx bxl-facebook-circle'></i></li>
				<li><i class='bx bxl-twitter'></i></li>
				<li><i class='bx bxl-instagram'></i></li>
			</ul>
		</header>
	</section>
	
	<section class="cover">
		<nav>
			<div class="logo"><h1>SPECTRUM</h1></div>
			<ul class="nav-menu">
				<li> <a href="#">Home </a> </li>
				<li> <a href="#">About Us </a> </li>
				<li> <a href="#">Contact </a> </li>
			</ul>
		
		</nav>
	</section>

	<section class="cover">
		<form method="post" action="/">
			<h1><i class='bx bx-user-plus'></i> <span>BECOME A SELLER</span></h1>
			<div class="form active">
				<div class="field">
					<label for="storename">Store Name</label>
					<input type="text" placeholder="store name" name="StoreName">
			        <span></span>
				</div>
				<div class="field">
					<label for="link">Platform link</label>
					<input type="text" placeholder="link" name="link">
			        <span></span>
				</div>
				<div class="field">
					<label for="logoimage">Logo</label>
					<input type="file"name="logofile">
					<span></span>
				</div> 
			</div>
			<div class="form">
				<div class="field">
					<label for="username">Email</label>
					<input type="email" placeholder="email" name="email">
					<span></span>
				</div>
				<div class="field">
					<label for="phone">Phone number</label>
					<input type="number" placeholder="phone number" name="number">
					<span></span>
				</div>
			</div>
			<div class="form">
				<div class="field">
					<label for="division">Division</label>
			        <input type="text" placeholder="division name" name="division">
			        <span></span>
				</div>
				<div class="field">
					<label for="address">Full Address</label>
			        <input type="text" placeholder="full address" name="address">
			        <span></span>
				</div>
			</div>
			<div class="form">
				<div class="field">
					<label for="bankaccount">Bank account number</label>
					<input type="number"name="bankaccount">
					<span></span>
				</div>
				<div class="field">
					<label for="nidimage">NID</label>
					<input type="file"name="NID">
					<span></span>
				</div> 
			</div>
			 <button>Previous</button>
			<button>next</button>  

			 <div class="page-indicator">
			</div>  
		</form>
	</section>
</body>
</html>
<script type="text/javascript" src="js/main.js"></script>